BASE_URL=https://www.shoofra.co.il/
BROWSER=chromium
HEADLESS=false
START_MAXIMIZED=true
SLOW_MO_MS=180
VIEWPORT_WIDTH=2560
VIEWPORT_HEIGHT=1440
BROWSER_WINDOW_WIDTH=2560
BROWSER_WINDOW_HEIGHT=1440
DEFAULT_TIMEOUT_MS=15000
TEST_PAUSE_MS=250
DEMO_HIGHLIGHT=true
DEMO_ZOOM_PERCENT=100
DEMO_ACTION_PAUSE_MS=220
TRACE_ON_FAILURE=true
VIDEO_ON_FAILURE=false
DEMO_FINAL_SCREENSHOT=true
